* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    color: #181818;
    width: 100dvw;
    overflow-x: hidden;
    height: 100%;
    background-color: #E2E2E4;
  }

  html {
    scroll-behavior: smooth;
  }

  

  