@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

@font-face {
  font-family: "Monoska";
  src:
    url("/fonts/Monoska.woff2") format("woff2"),
    url("/fonts/Monoska.woff") format("woff"),
    url("/fonts/Monoska.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Uncut Sans";
  src:
    url("/fonts/UncutSans-Book.woff2") format("woff2"),
    url("/fonts/UncutSans-Book.woff") format("woff"),
    url("/fonts/UncutSans-Book.otf") format("opentype");
  font-weight: 300; /* Corrected */
  font-style: normal;
}

@font-face {
  font-family: "Uncut Sans";
  src:
    url("/fonts/UncutSans-Regular.woff2") format("woff2"),
    url("/fonts/UncutSans-Regular.woff") format("woff"),
    url("/fonts/UncutSans-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Uncut Sans";
  src:
    url("/fonts/UncutSans-Medium.woff2") format("woff2"),
    url("/fonts/UncutSans-Medium.woff") format("woff"),
    url("/fonts/UncutSans-Medium.otf") format("opentype");
  font-weight: 500; /* Corrected */
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

